model/src/main/resources/contract/RulesModuleService.wsdl

<definitions xmlns:module="urn:module.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:customrule="urn:customrule.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:ticket="urn:ticket.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:alarm="urn:alarm.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:movement="urn:movement.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:exchange="urn:exchange.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:ticketrule="urn:ticketrule.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             name="RulesModule"
             targetNamespace="urn:module.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:module.rules.schema.fisheries.ec.europa.eu:v1">

            <xsd:import namespace="urn:customrule.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="CustomRule.xsd"/>
            <xsd:import namespace="urn:common.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="RulesCommon.xsd"/>
            <xsd:import namespace="urn:search.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="RulesSearch.xsd"/>
            <xsd:import namespace="urn:ticket.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Ticket.xsd"/>
            <xsd:import namespace="urn:alarm.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Alarm.xsd"/>
            <xsd:import namespace="urn:movement.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Movement.xsd"/>
            <xsd:import namespace="urn:exchange.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Exchange.xsd"/>
            <xsd:import namespace="urn:ticketrule.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="TicketAndRule.xsd"/>

            <!-- Rules Base Request -->
            <xsd:simpleType name="RulesModuleMethod">
                <xsd:restriction base="xsd:string">
                    <!-- Receive position report -->
                    <xsd:enumeration value="SET_MOVEMENT_REPORT"/>

                    <!-- Ping -->
                    <xsd:enumeration value="PING"/>

                    <xsd:enumeration value="GET_CUSTOM_RULE"/>
                    <xsd:enumeration value="GET_TICKETS_BY_MOVEMENTS"/>
                    <xsd:enumeration value="COUNT_TICKETS_BY_MOVEMENTS"/>
                    <xsd:enumeration value="GET_TICKETS_AND_RULES_BY_MOVEMENTS"/>
				</xsd:restriction>
            </xsd:simpleType>

			<xsd:complexType name="RulesBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="module:RulesModuleMethod"/>
                    <xsd:element name="username" type="xsd:string"/>
                    <xsd:element name="logGuid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="fluxDataFlow" minOccurs="0" maxOccurs="1" type="xsd:string" />
                    <xsd:element name="senderOrReceiver" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <xsd:element name="onValue" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="SetMovementReportRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="type" type="exchange:PluginType"/>
                                <xsd:element name="request" type="movement:RawMovementType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <!-- List custom rules request -->
            <xsd:element name="GetCustomRuleListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- List custom rules response -->
            <xsd:element name="GetCustomRuleListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customRules" type="customrule:CustomRuleType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- List tickets request -->
            <xsd:element name="GetTicketListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:TicketQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- List tickets response -->
            <xsd:element name="GetTicketListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tickets" type="ticket:TicketType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Alarms QueryList request -->
            <xsd:element name="GetAlarmListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:AlarmQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Alarms QueryList response -->
            <xsd:element name="GetAlarmListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                    	<xsd:element name="alarms" type="alarm:AlarmReportType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Tickets QueryList request -->
            <xsd:element name="GetTicketListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:TicketQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Ticket QueryList response -->
            <xsd:element name="GetTicketListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tickets" type="ticket:TicketType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping request -->
            <xsd:element name="PingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping response -->
            <xsd:element name="PingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Get tickets by movements -->
            <xsd:element name="GetTicketsByMovementsRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="movementGuids" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetTicketsByMovementsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tickets" type="ticket:TicketType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Count tickets by movements -->
            <xsd:element name="CountTicketsByMovementsRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="movementGuids" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="CountTicketsByMovementsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="count" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Get custom rule request by guid-->
            <xsd:element name="GetCustomRuleRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="guid" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <!-- Get custom rule by guid response -->
            <xsd:element name="GetCustomRuleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customRule" type="customrule:CustomRuleType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Get tickets and rules by movements -->
            <xsd:element name="GetTicketsAndRulesByMovementsRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="movementGuids" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetTicketsAndRulesByMovementsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ticketsAndRules" type="ticketrule:TicketAndRuleType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

			<!-- Custom rule QueryList response -->
            <xsd:element name="GetCustomRuleListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customRules" type="customrule:CustomRuleType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetTicketListByMovementsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tickets" type="ticket:TicketType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>
</definitions>

